:root {
  --border-box: border-box;
}

body, html {
  height: 100%;
  box-sizing: var(--border-box);
}

.App {
  height: 100vh;
  padding: 2rem;
  box-sizing: var(--border-box);
  min-height: -webkit-fill-available;
}

.grid__container {
  box-sizing: var(--border-box);
  height: 100vh;
  display: grid;
  gap: 1rem;
}

.col-2__container, .col-3__container {
  gap: 2%;
  height: max-content;
  display: grid;
  align-items: center;
  box-sizing: var(--border-box);
}

.col-2__container, .col-3__container>div {
  box-sizing: var(--border-box);
}

.col-2__container {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.col-3__container {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.chart-canvas__container {
  height: 100%;
}